<div class="container">
    <%= form_with :url => url_for(:controller => "editpage", :action => "submit"), :local => true do |form| %>
    <%@data.each do |key, value| %>
        <%= render "field_tile",name:key,value:value,form:form, html:{method:"post"}%>
    <%end%>
    <%= form.hidden_field :mid, value:@mid, class:"form-control" %>
    <%= form.hidden_field :tid, value:@tid, class:"form-control" %>
    <%= form.hidden_field :rid, value:@rid, class:"form-control" %>
    <div class="form-check">
        <%= check_box_tag :execute,"1",false,class:"form-check-input"%>
        <%= label_tag "Execute Now",nil, class:"form-check-label" %>
    </div>
    <%= form.submit "Submit",type: "submit",class:"btn btn-primary"%>
<%end%>
</div>


