<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    ​<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  </head> 
  <body>
    <%= render "layouts/header"%>
    <div class="application_content">
	    <%= yield %>
    </div>
    <%=render "layouts/footer"%>
  </body>
</html>
