<%= javascript_pack_tag 'accounts.js', 'data-turbolinks-track': 'reload' %>
<div align="center" class="user-container">
  <div class="mdc-data-table">
    <table class="mdc-data-table__table" aria-label="Management">
      <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Users</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Role</th>
      </tr>
      </thead>

      <% @users.each do |user| %>
        <tbody>
        <tr class="mdc-data-table__row">
          <td class="mdc-data-table__cell"><%= user.username %></td>
          <td class="mdc-data-table__cell">
            <div class="mdc-form-field">
              <%= radio_button_tag("radio-1", "Admin", checked = user.is_role("admin")) %>
              <%= label_tag("radio-1", "Admin") %>
              <div class="mdc-radio__ripple"></div>
            </div>
          </td>
          <td class="mdc-data-table__cell">
            <div class="mdc-form-field">
              <%= radio_button_tag("radio-1", "Developer", checked = user.is_role("developer")) %>
              <%= label_tag("radio-1", "Developer") %>
              <div class="mdc-radio__ripple"></div>
            </div>
          </td>
          <td class="mdc-data-table__cell">
            <div class="mdc-form-field">
              <%= radio_button_tag("radio-1", "Product Owner", checked = user.is_role("product owner")) %>
              <%= label_tag("radio-1", "Product Owner") %>
              <div class="mdc-radio__ripple"></div>
            </div>
          </td>
          <td class="mdc-data-table__cell">
            <div class="mdc-form-field">
              <%= radio_button_tag("radio-1", "Stage Reviewer", checked = user.is_role("stage reviewer")) %>
              <%= label_tag("radio-1", "Stage Reviewer") %>
              <div class="mdc-radio__ripple"></div>
            </div>
          </td>
        </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
