<%= javascript_pack_tag 'accounts.js', 'data-turbolinks-track': 'reload' %>

<div class="user-table">
  <h1 class="service-title">Changes</h1>
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
      <tr>
        <th scope="row"><%= user.username %></th>
        <td>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id=<%= "radio-admin-" + index.to_s %> name=<%= "radios-" + index.to_s %> <%= user.is_role("Admin") ? "checked" : "" %> name="inlineRadioOptions"value="option1" <%= current_user == user ? "disabled" : "" %> onclick="setUserRole('<%= user.username %>', 'Admin')">
            <label class="form-check-label" for=<%= "radio-admin-" + index.to_s %>>Admin</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id=<%= "radio-releasemanager-" + index.to_s %> name=<%= "radios-" + index.to_s %> <%= user.is_role("Release Manager") ? "checked" : "" %> value="option4" <%= current_user == user ? "disabled" : "" %> onclick="setUserRole('<%= user.username %>', 'Release Manager')">
            <label class="form-check-label" for=<%= "radio-productowner-" + index.to_s %>>Release Manager</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id=<%= "radio-productowner-" + index.to_s %> name=<%= "radios-" + index.to_s %> <%= user.is_role("Product Owner") ? "checked" : "" %> value="option3" <%= current_user == user ? "disabled" : "" %> onclick="setUserRole('<%= user.username %>', 'Product Owner')">
            <label class="form-check-label" for=<%= "radio-productowner-" + index.to_s %>>Product Owner</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id=<%= "radio-developer-" + index.to_s %> name=<%= "radios-" + index.to_s %> <%= user.is_role("Developer") ? "checked" : "" %> id="inlineRadio2" value="option2" <%= current_user == user ? "disabled" : "" %> onclick="setUserRole('<%= user.username %>', 'Developer')">
            <label class="form-check-label" for=<%= "radio-developer-" + index.to_s %>>Developer</label>
          </div>
        </td>
        <td>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle dropdownMenuLinkC" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item change-password dropdownPassword" onclick="openPasswordModal('<%= user.username %>')" href="javascript:void(0)">Change Password</a>

              <a class="dropdown-item delete-user dropdownDelete<%= current_user == user ? " hidden" : "" %>" onclick="openDeleteModal('<%= user.username %>')" href="javascript:void(0)">Delete User</a>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="newUserForm text-center mt-3">
    <h3>Create new user:</h3>
    <%= form_with(model: @user) do %>
    <form class="form text-center" action="/users" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <%= label_tag('user[username]', "Username", class: "sr-only") %>
          <%= text_field_tag('user[username]', "", placeholder: 'Username', class: "form-control") %>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <%= label_tag('user[password]', "Password", class: "sr-only") %>
          <%= password_field_tag('user[password]', "", class: "form-control", placeholder: "Password") %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag('user[role]', "Admin", class: "form-check-input") %>
          <%= label_tag(:admin_new, "Admin", class: "form-check-label ml-2") %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag('user[role]', "Release Manager", class: "form-check-input") %>
          <%= label_tag(:releasemanager_new, "Release Manager", class: "form-check-label ml-2") %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag('user[role]', "Product Owner", class: "form-check-input") %>
          <%= label_tag(:productowner_new, "Product Owner", class: "form-check-label ml-2") %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag('user[role]', "Developer", class: "form-check-input") %>
          <%= label_tag(:developer_new, "Developer", class: "form-check-label ml-2") %>
        </div>
        <br>
          <%= submit_tag("Create", class: "btn btn-primary mt-2 hp-blue") %>
      </form>
    <% end %>
  </div>
</div>

<div id="password-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="password-modal-text"></p>
        <input type="hidden" id="password-modal-username">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password-modal-password" placeholder="Password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save-button" onclick="changePassword()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="delete-modal-text"></p>
        <input type="hidden" id="delete-modal-username"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger delete-button" onclick="deleteUser()">DELETE</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
