<%= javascript_pack_tag 'accounts.js', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="users-container">
    <div id="users-data" class="mdc-data-table">
      <table class="mdc-data-table__table" aria-label="Management">
        <thead>
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Users</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Role</th>
          </tr>
        </thead>

        <% @users.each_with_index do |user, index| %>
        <tbody>
          <tr class="mdc-data-table__row">
            <td class="mdc-data-table__cell"><%= user.username %></td>
            <td class="mdc-data-table__cell">
              <div class="mdc-form-field">
                <div class="mdc-radio">
                  <input class="mdc-radio__native-control" type="radio" id=<%= "radio-admin-" + index.to_s %> name=<%= "radios-" + index.to_s %> <%= user.is_role("admin") ? "checked" : "" %> autocomplete="off">
                  <div class="mdc-radio__background">
                    <div class="mdc-radio__outer-circle"></div>
                    <div class="mdc-radio__inner-circle"></div>
                  </div>
                  <div class="mdc-radio__ripple"></div>
                </div>
                <label for=<%= "radio-admin-" + index.to_s %>>Admin</label>
              </div>
            </td>
            <td class="mdc-data-table__cell">
              <div class="mdc-form-field">
                <div class="mdc-radio">
                  <input class="mdc-radio__native-control" type="radio" id=<%= "radio-developer-" + index.to_s %> name=<%= "radios-" + index.to_s %> <%= user.is_role("Developer") ? "checked" : "" %> autocomplete="off">
                  <div class="mdc-radio__background">
                    <div class="mdc-radio__outer-circle"></div>
                    <div class="mdc-radio__inner-circle"></div>
                  </div>
                  <div class="mdc-radio__ripple"></div>
                </div>
                <label for=<%= "radio-developer-" + index.to_s %>>Developer</label>
              </div>
            </td>
            <td class="mdc-data-table__cell">
              <div class="mdc-form-field">
                <div class="mdc-radio">
                  <input class="mdc-radio__native-control" type="radio" id=<%= "radio-productowner-" + index.to_s %> name=<%= "radios-" + index.to_s %> <%= user.is_role("Product Owner") ? "checked" : "" %> autocomplete="off">
                  <div class="mdc-radio__background">
                    <div class="mdc-radio__outer-circle"></div>
                    <div class="mdc-radio__inner-circle"></div>
                  </div>
                  <div class="mdc-radio__ripple"></div>
                </div>
                <label for=<%= "radio-productowner-" + index.to_s %>>Product Owner</label>
              </div>
            </td>
            <td class="mdc-data-table__cell">
              <div class="mdc-form-field">
                <div class="mdc-radio">
                  <input class="mdc-radio__native-control" type="radio" id=<%= "radio-releasemanager-" + index.to_s %> name=<%= "radios-" + index.to_s %> <%= user.is_role("Release Manager") ? "checked" : "" %> autocomplete="off">
                  <div class="mdc-radio__background">
                    <div class="mdc-radio__outer-circle"></div>
                    <div class="mdc-radio__inner-circle"></div>
                  </div>
                  <div class="mdc-radio__ripple"></div>
                </div>
                <label for=<%= "radio-productowner-" + index.to_s %>>Release Manager</label>
              </div>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="container">
    <div class="users-container">
      <div id="users-card" class="mdc-card">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-text-field mdc-text-field--outlined">
              <input type="text" id="username" class="mdc-text-field__input">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="username" class="mdc-floating-label">Username</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
            <div class="mdc-text-field mdc-text-field--outlined">
              <input type="password" id="password" class="mdc-text-field__input">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="password" class="mdc-floating-label">Password</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
          </div>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-form-field">
              <div class="mdc-radio">
                <input class="mdc-radio__native-control" type="radio" id="radio-admin-new" name="radios-new" value="Admin">
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
                <div class="mdc-radio__ripple"></div>
              </div>
              <label for="radio-admin-new">Admin</label>
            </div>
            <div class="mdc-form-field">
              <div class="mdc-radio">
                <input class="mdc-radio__native-control" type="radio" id="radio-developer-new" name="radios-new" value="Developer" checked>
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
                <div class="mdc-radio__ripple"></div>
              </div>
              <label for="radio-developer-new">Developer</label>
            </div>
            <div class="mdc-form-field">
              <div class="mdc-radio">
                <input class="mdc-radio__native-control" type="radio" id="radio-productowner-new" name="radios-new" value="Product Owner">
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
                <div class="mdc-radio__ripple"></div>
              </div>
              <label for="radio-productowner-new">Product Owner</label>
            </div>
            <div class="mdc-form-field">
              <div class="mdc-radio">
                <input class="mdc-radio__native-control" type="radio" id="radio-releasemanager-new" name="radios-new" value="Release Manager">
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
                <div class="mdc-radio__ripple"></div>
              </div>
              <label for="radio-productowner-new">Release Manager</label>
            </div>
	    <button class="mdc-button mdc-button--raised">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
