<%= javascript_pack_tag 'changes.js', 'data-turbolinks-track': 'reload' %>

<div class="container">
    <h1 class="service-title">Changes</h1>
    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="queued" autocomplete="off" checked> Queued
        </label>
        <% if checkRole() >= 2 %>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="committed" autocomplete="off"> Committed
        </label>
        <% end %>
    </div>
    <div class="changesTable text-center" id="changes">
        <% unless @changes.nil? %>
            <%= form_with :url => url_for(:controller => "changes", :action => "push"), :local => true do %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                Change Id
                            </th>
                            <th scope="col">
                                Microservice
                            </th>
                            <th scope="col">
                                Table
                            </th>
                            <th scope="col">
                                Row
                            </th>
                            <th scope="col">
                                Old Value
                            </th>
                            <th scope="col">
                                New Value
                            </th>
                            <th scope="col">
                                Submitted
                            </th>
                            <th scope="col">
                                Username
                            </th>
                            <% if checkRole() >= 2 %>
                                <th scope="col">
                                    Select
                                </th>
                            <% end %>
                        </tr>
                    </thead>
                    <tbody>
                        <% @changes.zip(@metadata, @microservice, @users).each do |change, cmd, microservice, user| %>
                            <tr>
                                <td><%= change.id %></td>
                                <td><%= microservice.name %></td>
                                <td><%= cmd.Table_Name %></td>
                                <td><%= cmd.record_id %></td>
                                <td>
                                    <div>
                                        <% stringToJSON(change.old_value).each do |val| %>
                                            <% unless val[0].in? ["id", "created_at", "updated_at"] %>
                                                <%= val[0] + ": " + "\n" %>
                                                <br>
                                                <%= val[1] + "\n" %>
                                                <br>
                                                <br>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <% stringToJSON(change.new_value).each_with_index do |val, index| %>
                                            <% unless val[0].in? ["id", "created_at", "updated_at"] %>
                                                <%= val[0] + ":" + "\n" %>
                                                <br>
                                                <%= val[1] + "\n" %>
                                                <br>
                                                <br>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </td>
                                <td><%= change.created_at %></td>
                                <td><%= user %></td>
                                <% if checkRole() >= 2 %>
                                    <td><%= check_box_tag('changes[]', change.id) %></td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <% if checkRole() >= 3 %>
                    <%= submit_tag("Execute Now", class: "btn btn-primary mt-2 mb-5") %>
                <% end %>
                <% if checkRole() >= 2 %>
                    <%= submit_tag("Create Transaction", class: "btn btn-primary mt-2 mb-5",
                                   formaction: "transaction#create") %>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <% unless @executed.nil? %>
        <div class="changesTable text-center" id="executed" style="display: none;">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <!-- <th scope="col">
                            Id
                        </th> -->
                        <th scope="col">
                            Microservice
                        </th>
                        <th scope="col">
                            Table
                        </th>
                        <th scope="col">
                            Row
                        </th>
                        <th scope="col">
                            Old Value
                        </th>
                        <th scope="col">
                            New Value
                        </th>
                        <th scope="col">
                            Executed
                        </th>
                        <th scope="col">
                            Username
                        </th>
                    </tr>
                </thead>
                <tbody>
                <% @executed.zip(@metadataEx, @microserviceEx, @users).each do |x, cmd, microservice, user| %>
                <tr>
                    <!-- <td><%= x.id %></td> -->
                    <td><%= microservice.name %></td>
                    <td><%= cmd.Table_Name %></td>
                    <td><%= cmd.record_id %></td>
                    <td>
                        <div>
                            <% stringToJSON(x.old_value).each do |val| %>
                                <% unless val[0].in? ["id", "created_at", "updated_at"] %>
                                    <%= val[0] + ": " + "\n" %>
                                    <br>
                                    <%= val[1] + "\n" %>
                                    <br>
                                    <br>
                                <% end %>
                            <% end %>
                        </div>
                    </td>
                    <td>
                        <div>
                            <% stringToJSON(x.new_value).each_with_index do |val, index| %>
                                <% unless val[0].in? ["id", "created_at", "updated_at"] %>
                                    <%= val[0] + ": " + "\n" %>
                                    <br>
                                    <%= val[1] + "\n" %>
                                    <br>
                                    <br>
                                <% end %>
                            <% end %>
                        </div>
                    </td>
                    <td><%= x.created_at %></td>
                    <td><%= user %></td>
                </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    <% end %>
</div>


